<% provide(:title, '工作人员出差信息管理|信息编辑') %>

<div class="content span9">
  <div class="row">
    <div class="span9">
      <h4>工作人员出差管理 </h4>
    </div>
  </div>
  <div class="row">
    <div class="span1">
      <a href="/workers/trips" class="btn btn-mini">«返回</a>
    </div>
    <div id="title" class="span8">出差信息编辑</div>
  </div>
  <div class="row">
    <div class="span9">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <%= form_for @trip, :as => :trip, :url => '/workers/trips/'+@trip.id.to_s, :method => :put,
                   :html => {:class => "form-horizontal"} do |f| %>

          <%= render 'shared/error_messages' , object: f.object %>

          <div class="control-group">
            <label class="control-label" for="chzn-car-select">车辆</label>

            <div class="controls">
              <div class="chosen">
                <%= collection_select(:drivership, :car_id, @cars, :id, :model_plate, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-car-select",
                                       :'data-placeholder' => "请选择车辆...", :name => "car_id", :disabled=>"true"}) %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="chzn-driver-select">司机</label>

            <div class="controls">
              <div class="chosen">

                <%= collection_select(:drivership, :driver_id, @drivers, :id, :name, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-driver-select",
                                       :'data-placeholder' => "请选择司机...", :name => "driver_id", :disabled=>"true"}) %>


              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="chzn-group-select">工作班组</label>

            <div class="controls">
              <div class="chosen">
                <select data-placeholder="请选择工作班组进行人员筛选..." class="chzn-select-deselect" id="chzn-group-select" tabindex="30">
                  <option value=""></option>
                  <%= options_from_collection_for_select(Group.all, 'id', 'name') %>
                </select>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="chzn-worker-select">工作人员(多选)</label>

            <div class="controls">
              <div class="chosen">
                <select data-placeholder="请选择工作人员..." class="chzn-select" multiple
                        id="chzn-worker-select" name="workers_ids_[]" tabindex="40">
                  <option value=""></option>
                  <% if @trip.ing %>
                      <% Group.all.each do |group| %>
                          <optgroup label="<%= group.name %>">
                            <% group.workers.where("id NOT IN (?)", @in_trip_users_ids).each do |worker| %>
                                <option value="<%= worker.id %>"
                                <% if @trip.workers.exists? worker %>
                                   selected="selected"
                                <% end %>
                                ><%= worker.name %></option>
                            <% end %>
                          </optgroup>
                      <% end %>
                  <% else %>
                      <%= option_groups_from_collection_for_select(Group.all,
                                    :workers, :name, :id, :name, @selected_key) %>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="chzn-destination-select">出差地</label>

            <div class="controls">
              <div class="chosen">
                <%= collection_select(:trip, :destination_id, Destination.all, :id, :name, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-destination-select",
                                       :'data-placeholder' => "请选择出差地...", :name => "destination_id"}) %>
                </select>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputDeparture_time">出发时间</label>

            <div class="controls controls-row">
              <input class="span4" type="text" id="inputDeparture_time"
                     value="<%= @trip.departure_time %>" name="departure_time" style="cursor:pointer;">
              <i class="icon-calendar span1"></i>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputBack_time">归来时间</label>

            <div class="controls controls-row">
              <input class="span4" type="text" id="inputBack_time"
                     value="<%= @trip.back_time %>" name="back_time" style="cursor:pointer;">
              <i class="icon-calendar span1"></i>
            </div>

          </div>

          <div class="control-group">
            <label class="control-label" for="chzn-note-select">事由</label>

            <div class="controls">
              <div class="chosen">
                <%= collection_select(:trip, :note_id, Note.all, :id, :name, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-note-select",
                                       :'data-placeholder' => "请选择出差事由...", :name => "note_id"}) %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">保存修改</button>
              <a href="/workers/trips" class="btn cancle">返回</a>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>

