<%= form_for @destination, :as => :destination, :url => admins_destination_path(@destination), :method => :put, :remote => true, :validate => true,
             :html => {:class => "well-form"} do |f| %>
    <%= f.label :name, "出差地名称", :class=>"control-label" %>
    <%= f.text_field :name, :class=>"input-medium" %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "确定", class: "btn"%>
        <%= link_to "取消", "#", class: "btn cancle" %>
      </div>
    </div>
<% end %>