<%= form_for @part, :as => :part, :url => admins_part_path(@part), :method => :put, :remote => true, :validate => true,
             :html => {:class => "well-form"} do |f| %>

    <%= f.label :name, "名称", :class=>"control-label" %>
    <%= f.text_field :name, :class=>"input-medium" %>
    <%= f.label :model, "型号", :class=>"control-label" %>
    <%= f.text_field :model, :class=>"input-medium" %>
    <%= f.label :rating_mileage, "额定里程", :class=>"control-label" %>
    <%= f.text_field :rating_mileage, :class=>"input-medium"%>
    <%= f.label :rating_life, "额定寿命", :class=>"control-label" %>
    <input type="text" id="input_new_part_rating_life" class="input-medium"
      name="part[rating_life]" value="<%= @part.rating_life %>" data-validate="true">



    <div class="control-group">
      <div class="controls">
        <%= f.submit "确定", class: "btn"%>
        <%= link_to "取消", "#", class: "btn cancle" %>
      </div>
    </div>
<% end %>