<% provide(:title, '司机出车历史信息管理|信息编辑') %>

<div class="content span9">
  <div class="row">
    <div class="span9">
      <h4>司机出车历史信息管理 </h4>
    </div>
  </div>
  <div class="row">
    <div class="span1">
      <a href="/admins/drivers-history" class="btn btn-mini">«返回</a>
    </div>
    <div id="title" class="span8">出车历史信息编辑</div>
  </div>
  <div class="row">
    <div class="span9">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <%= form_for @trip, :as => :trip, :url => '/admins/drivers-history/'+@trip.id.to_s, :method => :put,
                   :html => {:class => "form-horizontal"} do |f| %>

          <%= render 'shared/error_messages' , object: f.object %>

          <div class="control-group">
            <label class="control-label" for="chzn-car-select">车辆</label>

            <div class="controls">
              <div class="chosen">
                <%= collection_select(:drivership, :car_id, @cars, :id, :model_plate, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-car-select",
                                       :'data-placeholder' => "请选择车辆...", :name => "car_id"}) %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="chzn-driver-select">司机</label>

            <div class="controls">
              <div class="chosen">

                <%= collection_select(:drivership, :driver_id, @drivers, :id, :name, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-driver-select",
                                       :'data-placeholder' => "请选择司机...", :name => "driver_id"}) %>


              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="chzn-destination-select">出车地</label>

            <div class="controls">
              <div class="chosen">
                <%= collection_select(:trip, :destination_id, Destination.all, :id, :name, {:include_blank => true},
                                      {:class => "chzn-select-deselect", :id => "chzn-destination-select",
                                       :'data-placeholder' => "请选择出车地...", :name => "destination_id"}) %>
                </select>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputDeparture_time">出发时间</label>

            <div class="controls controls-row">
              <input class="span4" type="text" id="inputDeparture_time"
                     value="<%= @trip.departure_time %>" name="departure_time" style="cursor:pointer;">
              <i class="icon-calendar span1"></i>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputBack_time">归来时间</label>

            <div class="controls controls-row">
              <input class="span4" type="text" id="inputBack_time"
                     value="<%= @trip.back_time %>" name="back_time" style="cursor:pointer;">
              <i class="icon-calendar span1"></i>
            </div>

          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">保存修改</button>
              <a href="/admins/drivers-history" class="btn cancle">返回</a>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>

